@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$main-font: 'Rubik', sans-serif;
$main-text-color: #000;

@import "header.scss";
@import "content.scss";
@import "footer.scss";
@import "media.scss";

html, body, p, div {
  margin: 0;
  padding: 0;
}
