@media (max-width: 520px) {
  .header-title {
    font-size: 26px;
  }
  .header-description {
    font-size: 14px;
  }
  .events-form {
    text-align: center;
  }
  .events-select_box {
    width: 80%;
  }
  .prob-result {
    font-size: 26px;
  }
  .events-form_controls__button {
    width: 100%;
  }
  .events-form_controls__ps {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .events-form_ps {
    margin-left: 0;
  }
}
